{% extends 'base.html' %}


{% block sidebar %}
<div class="col-md-3">
    <ul class="list-group">
        {% for item in categories %}
        <a href="{% url 'category' item.pk %}" class="list-group-item">{{ item.title }}</a>
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block content %}
<div class="col-md-9">
    {% for item in news %}
    <div class="card mb-4">
        <div class="card-header">Категория:
            {% for category in item.category.all %}
                {% if not forloop.last %}
                    <a class="nav-link d-inline" href="{% url 'category' category.pk %}">{{ category }},</a>
                {% else %}
                    <a class="nav-link d-inline" href="{% url 'category' category.pk %}">{{ category }}</a>
                {% endif %}
            {% endfor %}
        </div>
        <div class="card-body d-flex">
            <div class="media me-3">
                {% if item.photo %}
                    <img src="{{ item.photo.url }}" width="350" height="300">
                {% else %}
                    <img src="https://picsum.photos/id/1/350/300" alt="">
                {% endif %}
            </div>
            <div class="media-body">
                <h5 class="card-title">{{ item.title }}</h5>
                <a href="{% url 'origin' item.origin.pk %}" class="mb-3">{{ item.origin }}</a>
                <p class="card-text">{{ item.content }}</p>
                <a href="#" class="btn btn-primary">Read more...</a>
            </div>
        </div>
        {% if item.created_at == item.updated_at %}
        <div class="card-footer text-body-secondary">Дата публикации: {{ item.created_at }}</div>
        {% else %}
        <div class="card-footer text-body-secondary">Дата публикации: {{ item.updated_at }}</div>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}