{% extends 'news/add_news.html' %}

{% block content %}
<div class="col-md-9">
    {% block title %}<h1>Редактирование новости</h1> {% endblock %}
    <form action="{% url 'update_news' news.pk %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% for field in form %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
        </div>
        <div class="ivalid-feedback">
            {{ field.errors }}
        </div>
        {% endfor %}

        <button type="submit" class="btn btn-primary btn-block">Добавить</button>

    </form>
</div>
{% endblock %}